{% extends "base.html" %}
{% block content %}
<section id="certifications" class="certifications-section">
        <div class="container">
            <h2 class="section-title">Certifications</h2>
            
            <div class="timeline">
                <div class="timeline-item" data-aos="fade-right">
                    <div class="timeline-content">
                        <h3>Redhat Certified Engineer</h3>
                        <p></p>
                        <span class="timeline-date">April 2014</span>
                    </div>
                </div>
                
                <div class="timeline-item" data-aos="fade-left">
                    <div class="timeline-content">
                        <h3>Proofpoint Email Security</h3>
                        <p>Coursera</p>
                        <span class="timeline-date">February 2024</span>
                    </div>
                </div>
                
                <div class="timeline-item" data-aos="fade-right">
                    <div class="timeline-content">
                        <h3>Cisco Certified Network Associate</h3>
                        <p>AWS</p>
                        <span class="timeline-date">January 2012</span>
                    </div>
                </div>
                
                <div class="timeline-item" data-aos="fade-left">
                    <div class="timeline-content">
                        <h3>Microsoft Certified System Administrator</h3>
                        <p></p>
                        <span class="timeline-date">January 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}